<div class="bg-dark container-fluid text-light">
    <div class="row container">
        <div class="col-md-3 d-flex flex-column mt-5">
            <div><h2>LOCATION</h2></div>
            <div>2215 John Daniel Drive</div>
            <div>Clark, MO 65243</div>
        </div>
        <div class="col-md-3 d-flex flex-column mt-5 mx-auto">
            <div><h2>Around The Web</h2></div>
            <div class="d-flex">
                <div class="mx-2" ><i class="fa-brands fa-facebook"></i></div>
                <div class="mx-2" ><i class="fa-brands fa-twitter"></i></div>
                <div class="mx-2" ><i class="fa-brands fa-linkedin"></i></div>
                <div class="mx-2" ><i class="fa-brands fa-dribbble"></i></div>
                <div></div>

            </div>
        </div>
        <div class="col-md-3 d-flex flex-column mt-5 ms-auto">
            <div><h2>ABOUT FREELANCER</h2></div>
            <div>Freelance is a free to use, MIT licensed Bootstrap theme created by Start Bootstrap</div>
        </div>
    </div>
</div>
<div>
    <h6 class="py-2 text-center bg-black text-white">Copyright © Your Website 2022</h6>
</div>