<div class="bg-info ">
    <br>
    <br><br><br><br><br><br><br>
    <br>
    <h1 class="text-center text-white">Start Framework</h1>

    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="bg-light" style="width: 150px ;height: 5px;"></div>
        <div class="mx-2"><i class="fa-solid fa-star fa-spin text-light"></i></div>
        <div class="bg-light" style="width: 150px ;height: 5px;"></div>
    </div>
    <div class="d-flex">
        <div class="mx-4 text-light">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </div>
        <div class="mx-4 text-light">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </div>
    </div>
    <br>
    <br>
    <div class="text-center text-light">Graphic Artist - Web Designer - Illustrator</div>
    <br><br>
</div>