<div><br>
    <br><br><br><br><br><br><br>
    <br>
    <h1 class="text-center text-dark">CONATCT SECTION</h1>
    <br>
    <div class="d-flex justify-content-center">
        <div class="bg-dark" style="width: 150px ;height: 5px;"></div>
        <div class="mx-2"><i class="fa-solid fa-star fa-spin text-dark"></i></div>
        <div class="bg-dark" style="width: 150px ;height: 5px;"></div>
    </div>
    <br><br><br><br>
    <div class="container">
        <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <br>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
        </div>
        <br><br>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <br>
        <div class="text-center">
            <button class="btn btn-outline-primary">SEND MESSAGE</button>
        </div>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
