<div>
    <br>
    <br><br><br><br><br><br><br>
    <br>
    <h1 class="text-center text-dark">PORTFOLIO COMPONENT</h1>
    <br>
    <div class="d-flex justify-content-center">
        <div class="bg-dark" style="width: 150px ;height: 5px;"></div>
        <div class="mx-2"><i class="fa-solid fa-star fa-spin text-dark"></i></div>
        <div class="bg-dark" style="width: 150px ;height: 5px;"></div>
    </div>
    <br>
    <div class="row container mx-auto">
        <div class="position-relative col-md-4 g-2">
            <img src="../assets/imgs/poert1.png" alt="">
            <div class=" position-absolute top-0 w-100 d-flex justify-content-center align-items-center"
                style="height:100%;"> <i class="fa-solid fa-magnifying-glass fa-3x text-light text-center "></i>
            </div>
        </div>
        <div class="col-md-4 g-2 position-relative">
            <img src="../assets/imgs/port2.png" alt="">
            <div class=" position-absolute top-0 w-100 d-flex justify-content-center align-items-center"
                style="height:100%;"> <i class="fa-solid fa-magnifying-glass fa-3x text-light text-center "></i></div>

        </div>
        <div class="col-md-4 g-2 position-relative"><img src="../assets/imgs/port3.png" alt="">
            <div class=" position-absolute top-0 w-100 d-flex justify-content-center align-items-center"
                style="height:100%;"> <i class="fa-solid fa-magnifying-glass fa-3x text-light text-center "></i></div>
        </div>
        <div class="col-md-4 g-2 position-relative"><img src="../assets/imgs/poert1.png" alt="">
            <div class=" position-absolute top-0 w-100 d-flex justify-content-center align-items-center"
                style="height:100%;"> <i class="fa-solid fa-magnifying-glass fa-3x text-light text-center "></i></div>
        </div>
        <div class="col-md-4 g-2 position-relative"><img src="../assets/imgs/port2.png" alt="">
            <div class=" position-absolute top-0 w-100 d-flex justify-content-center align-items-center"
                style="height:100%;"> <i class="fa-solid fa-magnifying-glass fa-3x text-light text-center "></i></div>
        </div>
        <div class="col-md-4 g-2 position-relative"><img src="../assets/imgs/port3.png" alt="">
            <div class=" position-absolute top-0 w-100 d-flex justify-content-center align-items-center"
                style="height:100%;"> <i class="fa-solid fa-magnifying-glass fa-3x text-light text-center "></i></div>
        </div>
    </div>
    <br><br><br>

</div>