<nav class="navbar navbar-expand-lg bg-body-success bg-dark text-light fixed-top">
    <div class="container-fluid">
        <a class="nav-link active fs-6" aria-current="page" routerLink="home">
            <p class="text-break">START FRAMEWORK</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item mx-1">
                    <a class="nav-link active text-light" aria-current="page" routerLink="about">about</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link active text-light" aria-current="page" routerLink="contact">contact</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link active text-light" aria-current="page" routerLink="portfolio">portfolio</a>
                </li>
            </ul>

        </div>
    </div>
</nav>