<div class="bg-info vh-75">
    <br>
    <br><br>
    <div class="d-flex"> <img class="mx-auto" src="../assets/imgs/avataaars.svg" alt="avatar" style="width: 30%;"> <br>
    </div>
    <br>
    <h1 class="text-center text-white">Start Framework</h1>

    <br>
    <div class="d-flex justify-content-center">
        <div class="bg-light" style="width: 150px ;height: 5px;"></div>
        <div class="mx-2"><i class="fa-solid fa-star fa-spin text-light"></i></div>
        <div class="bg-light" style="width: 150px ;height: 5px;"></div>
    </div>
    <br>
    <div class="text-center">Graphic Artist - Web Designer - Illustrator</div>
    <br><br>
</div>
